<div class="profile">
    {{- with .Site.Params.profileMode }}
    <div class="profile_inner">
        {{- if .imageUrl -}}
        <img src="{{ .imageUrl }}" alt="{{ .imageTitle | default "profile image" }}"
            height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" />
        {{- end }}
        <h1>{{ .title | default $.Site.Title | markdownify }}</h1>
        <span>I'm a data scientist from Medellín, Colombia. 🇨🇴</span>
        <div class="profile_info">I develop maintainable and scalable data products that make an impact in organizations.</div>
        <div class="profile_info">I like to build things with Python, AWS, and Docker. Lately, I've been integrating LLM's into this workflow. 👨🏼‍💻</div>
        <div class="profile_info">Take a look at <a href="https://talk-business.streamlit.app/City_Explorer"><b>SiteWise</b></a>, and <a href="https://eterna-primavera.streamlit.app/Analizador_de_Propiedades"><b>Eterna Primavera</b></a>, my most recent apps.</div>
        
        <div class="profile_info">If you'd like to learn about development for data teams, check out <a href="{{ "blog" | absLangURL }}">my blog</a> 🎯.</div>

        
        {{- partial "social_icons.html" -}}

        {{- with .buttons }}
        <div class="buttons">
            {{- range . }}
            <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name | title }}">
                <span class="button-inner">{{ .name | title }}</span>
            </a>
            {{- end }}
        </div>
        {{- end }}
    </div>
    {{- end}}
</div>
