<div class="profile">
    {{- with .Site.Params.profileMode }}
    <div class="profile_inner">
        {{- if .imageUrl -}}
        <img src="{{ .imageUrl }}" alt="{{ .imageTitle | default "profile image" }}"
            height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" />
        {{- end }}
        <h1>{{ .title | default $.Site.Title | markdownify }}</h1>
        <span>I'm a data scientist from Colombia. 🇨🇴</span>
        <div class="profile_info">I have been building end-to-end data products for national and international organizations. with Python, SQL, and Docker. I usually </div>
        <div class="profile_info">I like to build products with Python, SQL, and Docker. In my spare time, I build packages that make teams more efficient. 👨🏼‍💻</div>
        <div class="profile_info">Take a look at <a href="https://talk-business.streamlit.app/City_Explorer"><b>Talk Business</b></a>, and <a href="https://eterna-primavera.streamlit.app/Analizador_de_Propiedades"><b>Eterna Primavera</b></a>, my most recent apps.</div>
        
        <div class="profile_info">I love writing great code and using good practices. If you want to learn about development for data teams, check out <a href="{{ "blog" | absLangURL }}">my blog</a> 🎯.</div>

        
        {{- partial "social_icons.html" $.Site.Params.socialIcons -}}

        {{- with .buttons }}
        <div class="buttons">
            {{- range . }}
            <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name | title }}">
                <span class="button-inner">{{ .name | title }}</span>
            </a>
            {{- end }}
        </div>
        {{- end }}
    </div>
    {{- end}}
</div>
